.searchToolContainer {
  min-height: 100vh;
  background-color: #f1f1f1;
}

.searchTool {
  display: flex;
  align-items: center;
  padding: 60px;
  flex-direction: column;
}

.searchTool h2 {
  margin-top: 0;
  margin-bottom: 40px;
}

.searchAndResult {
  padding: 2.625rem 1.35rem;
  background-color: #fff;
  margin: 0 auto;
  height: 100%;
  max-width: 62rem;
}

.drop-down-box {
  display: inline-block;
}

.searchField {
  height: 40px;
  padding: 10px;
  font-size: 15px;
  margin: 0 20px;
  width: 400px;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  outline: none;
}

.searchField:focus {
  border: 2px solid #1a73e8;
}

.searchItemContainer {
  margin: 0 30px 60px 30px;
  display: flex;
  justify-content: space-between;
}
